@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

.container1 {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #FFF;
}

.container1 h3 {
    font-family: 'Castoro Titling', cursive;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: rgb(100, 193, 199);
    text-shadow: 0 0 2px #fff;   
}

.pro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    margin-top: 40px;
}

.cont {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(100, 192, 199, 0.3);
}

.pro-cont {
    width: 300px;
    height: 350px;
}

.info p {
    color: #aaa;
}

img {
    width: 300px;   
}