<div class="container1">
    <h3>Proyectos</h3>
    <div class="pro">
        <div class="cont">
            <div class="pro-cont">
                <div class="info">
                    <h4>Portfolio</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus explicabo veniam deserunt sit, totam rerum eum expedita assumenda. Harum dolor ea corrupti iure laborum assumenda voluptas dolorum quasi? Iste, cum.</p>
                </div>
                <div class="img">
                    <img src="../../../assets/portfolio.png" alt="proyecto">
                </div>
            </div>
        </div>
    </div>
</div>
