header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(60px);
    box-shadow: 0 5px 10px #000;
}

.nav {
    display: flex;
    gap: 7px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background .3s;
    letter-spacing: 1px;
}

.nav a:hover {
    background-color: rgb(12, 78, 191);
}

.soc-btn {
    display: flex;
}

button {
    letter-spacing: 1px;
    margin-left: 25px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    background: rgb(5, 36, 89);
    box-shadow: inset 2px 2px 10px #000;
    color: #777;
    transition: all .3s;
}

button:hover {
    background-color: rgb(12, 78, 191);
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    transform: scale(1.04);
}