<div class="container1">
    <h3>Tecnologías</h3>
    <div class="skill">
        <div class="skill-container">
            <circle-progress            
                [percent]= "90"
                [unitsColor]= "'#FFF'"
                [titleColor]= "'#FFF'"
                [radius]= "90"
                [showSubtitle]= "false"
                [outerStrokeWidth]= "2"
                [outerStrokeColor]= "'#00F'"
                [innerStrokeColor]= "'rgba(0, 53, 142, 0.75)'"
                [animation]= "true"
                [animationDuration]= "300"
                [showInnerStroke]= "false"
            ></circle-progress>
            <h5>HTML</h5>
        </div>

        <div class="skill-container">
            <circle-progress            
                [percent]= "50"
                [unitsColor]= "'#FFF'"
                [titleColor]= "'#FFF'"
                [radius]= "90"
                [showSubtitle]= "false"
                [outerStrokeWidth]= "2"
                [outerStrokeColor]= "'#00F'"
                [innerStrokeColor]= "'rgba(0, 53, 142, 0.75)'"
                [animation]= "true"
                [animationDuration]= "300"
                [showInnerStroke]= "false"
            ></circle-progress>
            <h5>CSS</h5>
        </div>

        <div class="skill-container">
            <circle-progress            
                [percent]= "30"
                [unitsColor]= "'#FFF'"
                [titleColor]= "'#FFF'"
                [radius]= "90"
                [showSubtitle]= "false"
                [outerStrokeWidth]= "2"
                [outerStrokeColor]= "'#00F'"
                [innerStrokeColor]= "'rgba(0, 53, 142, 0.75)'"
                [animation]= "true"
                [animationDuration]= "300"
                [showInnerStroke]= "false"
            ></circle-progress>
            <h5>JavaScript</h5>
        </div>

        <div class="skill-container">
            <circle-progress            
                [percent]= "40"
                [unitsColor]= "'#FFF'"
                [titleColor]= "'#FFF'"
                [radius]= "90"
                [showSubtitle]= "false"
                [outerStrokeWidth]= "2"
                [outerStrokeColor]= "'#00F'"
                [innerStrokeColor]= "'rgba(0, 53, 142, 0.75)'"
                [animation]= "true"
                [animationDuration]= "300"
                [showInnerStroke]= "false"
            ></circle-progress>
            <h5>Angular</h5>
        </div>
    </div>
</div>