<div class="container1">
    <div class="educacion">
        <h3>Educación</h3>
        <div class="lista">
            <h4>educacion1</h4>
            <h5>año</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a eveniet voluptatem, non aperiam earum. Libero voluptatibus, aut ea perspiciatis temporibus veniam? Fugiat, ea tempora ratione eum veniam eveniet necessitatibus.</p>
        </div>
        <div class="lista">
            <h4>educacion2</h4>
            <h5>año</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a eveniet voluptatem, non aperiam earum. Libero voluptatibus, aut ea perspiciatis temporibus veniam? Fugiat, ea tempora ratione eum veniam eveniet necessitatibus.</p>
        </div>
        <div class="lista">
            <h4>educacion3</h4>
            <h5>año</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a eveniet voluptatem, non aperiam earum. Libero voluptatibus, aut ea perspiciatis temporibus veniam? Fugiat, ea tempora ratione eum veniam eveniet necessitatibus.</p>
        </div>
    </div>
</div>
