@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

.container1 {
    margin-top: 100px;
}

.experiencia {
    color: #fff;
}

.experiencia h3 {
    text-align: center;
    font-family: 'Castoro Titling', cursive;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: rgb(100, 193, 199);
    text-shadow: 0 0 2px #fff;
}

.lista {
    margin-bottom: 50px;
}

.lista h4 {
    margin-right: 30px;
}

.lista h4, .lista h5 {
    color: #aaa;
    display: inline;
}