<div class="container1" id="sobre-mi">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5 foto-nombre">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 foto" id="foto">
                <div class="img-fluid perfil" alt="Perfil"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 nombre">
                <h2>Mariano Morini</h2>
                <p>Full Stack Developer Jr</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 sobre-mi">
            <h4>Sobre mi</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum obcaecati impedit perspiciatis nemo natus fuga tenetur laboriosam libero laborum molestiae sapiente praesentium, non pariatur, repellat, quidem ipsum dolorem hic id?</p>
        </div>
    </div>
</div>